{% extends 'base_generic.html' %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
            <h2>Reset Your Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Set New Password</button>
            </form>
        </div>
    </div>
    <script>
        $('input').addClass("form-control");
        $('#id_new_password1').on('input', function () {
            var input = $(this);
            if (input.val().length > 7) {
                input.removeClass("is-invalid").addClass("is-valid");
            } else {
                input.removeClass("is-valid").addClass("is-invalid");
            }
        });
        $('#id_new_password2').on('input', function () {
            var input = $(this);
            if (input.val().length > 7 && $('#id_new_password1').val() === input.val()) {
                input.removeClass("is-invalid").addClass("is-valid");
            } else {
                input.removeClass("is-valid").addClass("is-invalid");
            }
        });
    </script>
{% endblock %}